<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    
</head>
<body>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.js" ></script>
 about page
 <script>
   console.log('kkll')
   const socket = io('http://127.0.0.1:8000')
   socket.on('connect',()=>{
                              console.log(' login--- connected');
                              socket.emit('me','hello loginn')
                              console.log(' lo');
                           })
</script>

</body>
</html>